{% extends 'layout.html' %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    {% if search_form.keywords is defined and search_form.keywords|length %}
        <div class="mb-3">
            <h4>
                <span class="me-3">Results for keywords:</span>
                {% for kw in search_form.keywords %}
                    <span class="badge bg-secondary">{{ kw.name }}</span>
                {% endfor %}
            </h4>
        </div>
    {% endif %}

    {% if content_title is defined %}
        <div class="mb-3">
            <h4>
                {{ content_title }}
            </h4>
        </div>
    {% endif %}

    {{ render_products_listing(products)|safe }}
{% endblock %}