{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block styles %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">

        <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>

        <link href="{{ url_for('static', filename = 'sass/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<section class="content position-relative">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-success" aria-current="page"
                               href="{{ url_for('followed_user_products') }}">
                                Followed user products
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex m-auto" method="get" action="{{ url_for('home') }}">
                    {{ search_form.query(class='me-2 tagssearch', placeholder='Search') }}
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <a class="btn btn-outline-secondary ms-2" href="{{ url_for('home') }}">Clear search</a>
                </form>
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mr-right">
                        <li class="nav-item">
                            <a href="{{ url_for('add_product') }}" class="nav-link btn btn-outline-primary">
                                Add new product
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Sign in
                            </a>
                            <ul class="dropdown-menu login-dropdown" aria-labelledby="navbarDropdownMenuLink">
                                <div class="row">
                                    <div class="container-fluid">
                                        <form method="post" action="{{ url_for('login') }}">
                                            {{ login_form.csrf_token }}

                                            <div class="form-group">
                                                <label class="form-label">E-mail</label>
                                                {{ login_form.email(class='form-control', placeholder='E-mail') }}
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Password</label>
                                                {{ login_form.password(class='form-control', placeholder='Password') }}
                                                <br>
                                            </div>
                                            {{ login_form.submit(class='btn btn-dark btn-sm') }}
                                        </form>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('signup') }}">Sign up</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div id="flashes" class="position-absolute w-100">
        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}
                {% for type, flash in messages %}
                    <div class="flash alert alert-{{ type }}" role="alert" style="z-index: 999999">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endif %}

        {% endwith %}
    </div>

    <div class="container pt-3 w-50 m-auto position-relative">
        {% block content %}{% endblock %}
    </div>
</section>

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify@3.1.0/dist/tagify.polyfills.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <script>
        $(document).ready(() => {
            let inputs = document.querySelectorAll('.tagssearch');

            inputs.forEach(input => new Tagify(
                input
            ));

            setTimeout(
                () => {
                    $('#flashes .flash').fadeOut(1000);
                },
                2000
            );
        });
    </script>
{% endblock %}
</body>
</html>