{% extends 'layout.html' %}

{% block title %}
    {% if product is defined %}
        Editing product
    {% else %}
        New product
    {% endif %}
{% endblock %}

{% import 'macros.html' as macros %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Default box -->
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <div class="card" style="border: none">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <h3 class="text-center">Add new product</h3>
                                <div class="mb-3">
                                    {{ macros.render_field(form.name, placeholder='Name') }}
                                </div>
                                <div class="mb-3">
                                    {{ macros.render_field(form.price, placeholder='Price') }}
                                </div>
                                <div class="mb-3">
                                    {{ macros.render_field(form.keywords, 'tags', placeholder='Separate by pressing enter') }}
                                </div>
                                <div class="mb-3">
                                    {{ macros.render_field(form.description, placeholder='Description') }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Images:</label>
                                    {{ macros.render_image_collection(form.images, label_after=None) }}
                                </div>

                                <button type="submit" class="btn btn-dark mt-4 text-center">
                                    {% if product is defined %}
                                        Save
                                    {% else %}
                                        Add new product
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(() => {
            let input = document.querySelector('.tags');
            new Tagify(input);
        })
    </script>

    {{ macros.form_collection_script() }}
{% endblock %}