{% extends 'layout.html' %}

{% block title %}
    New product
{% endblock %}

{% block content %}
       <section class="content">
        <div class="container-fluid">
            <!-- Default box -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="border: none">
                        <div class="card-body">
                            <form method="post">
                                <h3 class="text-center">Add new product</h3>
                                <div class="mb-3">
                                    <label  class="form-label">Name:</label>
                                    {{ form.name(class='form-control', placeholder='Name') }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Keywords:</label>
                                    {{ form.keywords(class='form-control tags', placeholder='Keywords') }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Description:</label>
                                    {{ form.description(class='form-control', placeholder='Description') }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Images:</label>
                                    {{ form.images(class='form-control')}}
                                </div>
                                {{ form.submit(class='btn btn-dark text-center') }}
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(() => {
        let input = document.querySelector('.tags');
        new Tagify(input);
    })
    </script>
{% endblock %}