{% extends 'layout.html' %}

{% block title %}
    New product
{% endblock %}

{% import 'macros.html' as macros %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Default box -->
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <div class="card" style="border: none">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <h3 class="text-center">Add new product</h3>
                                <div class="mb-3">
                                    {{ macros.render_field(form.name, placeholder='Name') }}
                                </div>
                                <div class="mb-3">
                                    {{ macros.render_field(form.keywords, 'tags', placeholder='Separate by pressing enter') }}
                                </div>
                                <div class="mb-3">
                                    {{ macros.render_field(form.description, placeholder='Description') }}
                                </div>
                                <div class="mb-3">
                                    {{ macros.render_field(form.images) }}
                                </div>
                                {{ form.submit(class='btn btn-dark text-center') }}
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(() => {
        let input = document.querySelector('.tags');
        new Tagify(input);
    })
    </script>
{% endblock %}